.div_style{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}

.div_style button{
    background-color: #14699b;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}